# Header Tags from wikipedia

In [2]:
# Importing required libraries

from bs4 import BeautifulSoup # This will help to get the required data
import requests              # This will send request to the server
import pandas as pd           # This will help to set data in structured form

# Sending request to url to get source code
re = requests.get('https://en.wikipedia.org/wiki/Main_Page')

# Getting the contents of the page
bs = BeautifulSoup(re.content)

head = []  # Making empty list to store all the header tag

for i in bs.find_all('span',class_='mw-headline'):  # Finding all the header tags one by one
    head.append(i.text)   # Appending all the tags one by one in the list
    
# Storing the tags in data frame
df = pd.DataFrame({'Header tag':head})

df

                      Header tag
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# Top rate 100 IMDB Movies

In [5]:
# Getting all the required libraries
from bs4 import BeautifulSoup  # This will help to get the required data
import requests # This will send request to the url for source code
import pandas as pd

# Sending request to the url
re = requests.get('https://www.imdb.com/list/ls091520106/?sort=list_order,asc&st_dt=&mode=simple&page=1&ref_=ttls_vw_smp')

# Getting the contents of the page
bs = BeautifulSoup(re.content)

ml = [] # Creating an empty list to store movies 
for i in bs.find_all('span',class_='lister-item-header'): # Getting movies name one by one
    ml.append(i.text.split()[1:-1])  # Appending them in list by splitting the undesired data
    
rt = [] # Creating list to store raitngs given to the movies
for i in bs.find_all('div',class_='col-imdb-rating'): # Finding ratings of the movies respectively one by one
    rt.append(i.text.split())  # Appending the ratings of the movies in list by splitting undesired data one by one
    
yor = [] # List to store year of release
for i in bs.find_all('span',class_='lister-item-year text-muted unbold'): # Getting year of release one by one respectively
    yor.append(i.text) # Appending one by one in list
    
# Making dataframe
df = pd.DataFrame({'Movie Name':ml,'Rating':rt,'Year of Release':yor})
df

                                   Movie Name Rating Year of Release
0                [The, Shawshank, Redemption]  [9.3]          (1994)
1                            [The, Godfather]  [9.2]          (1972)
2                  [The, Godfather, Part, II]    [9]          (1974)
3                         [The, Dark, Knight]    [9]          (2008)
4                            [12, Angry, Men]    [9]          (1957)
..                                        ...    ...             ...
95                     [North, by, Northwest]  [8.3]          (1959)
96                     [A, Clockwork, Orange]  [8.3]          (1971)
97                                   [Snatch]  [8.2]          (2000)
98  [Le, fabuleux, destin, d'Amélie, Poulain]  [8.3]          (2001)
99                                 [The, Kid]  [8.3]          (1921)

[100 rows x 3 columns]